<div>
    <label>Train No:</label>
    <input type="text" [(ngModel)]="trainDetails.trainno" required />
  
    <label>Train Name:</label>
    <input type="text" [(ngModel)]="trainDetails.trainname" required />
  
    <label>Train Time:</label>
    <input type="time" [(ngModel)]="trainDetails.traintime" required />
  
    <label>Travel Date:</label>
    <input type="date" [(ngModel)]="trainDetails.traveldate" required />
  
    <label>Seat 1:</label>
    <input type="number" [(ngModel)]="trainDetails.seatsarray[0]" required />
  
    <label>Seat 2:</label>
    <input type="number" [(ngModel)]="trainDetails.seatsarray[1]" required />
  
    <label>Seat 3:</label>
    <input type="number" [(ngModel)]="trainDetails.seatsarray[2]" required />
  
    <label>Seat 4:</label>
    <input type="number" [(ngModel)]="trainDetails.seatsarray[3]" required />
  
    <label>Seat 5:</label>
    <input type="number" [(ngModel)]="trainDetails.seatsarray[4]" required />
  
    <label>Seat 6:</label>
    <input type="number" [(ngModel)]="trainDetails.seatsarray[5]" required />
  
    <label>Seat 7:</label>
    <input type="number" [(ngModel)]="trainDetails.seatsarray[6]" required />
  
    <label>Seat 8:</label>
    <input type="number" [(ngModel)]="trainDetails.seatsarray[7]" required />
  
    <label>Seat 9:</label>
    <input type="number" [(ngModel)]="trainDetails.seatsarray[8]" required />
  
    <label>Seat 10:</label>
    <input type="number" [(ngModel)]="trainDetails.seatsarray[9]" required />
  
    <label>Seat 11:</label>
    <input type="number" [(ngModel)]="trainDetails.seatsarray[10]" required />
  
    <label>Seat 12:</label>
    <input type="number" [(ngModel)]="trainDetails.seatsarray[11]" required />
  
    <button (click)="addTrain()">Add Train</button>
  </div>
  